<div class="row">
  <div class="col-md-2 p-2">
    <button class="btn btn-primary me-2" type="button" [routerLink]="['/ingresos']">
      Regresar
    </button>
  </div>
</div>
<form>
  <div class="form-group row">
    <div class="col-sm-3">
      <label class="col-sm-2 col-form-label">Ticket</label>
      <input type="number" class="form-control" id="Ticket" placeholder="Ticket" name="ticket">
    </div>
    <div class="col-sm-3">
      <label class="col-sm-2 col-form-label">Total</label>
      <input type="number" class="form-control" id="total" placeholder="Total" name="total">
    </div>
    <div class="col-sm-3">
      <label class="col-sm-2 col-form-label">Cliente</label>
      <input type="text" class="form-control" id="cliente" placeholder="Cliente" name="cliente">
    </div>
    <div class="col-sm-3">
      <label class="col-sm-2 col-form-label">Comentario</label>
      <input type="text" class="form-control" id="comentario" placeholder="Comentario" name="comentario">
    </div>
  </div>
  <div class="d-flex justify-content-end mt-3">
      <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>

    <!-- <div class="form-group row">
        <div class="col-sm-4">
          <label for="input1" class="col-sm-2 col-form-label">Input 1</label>
          <input type="text" class="form-control" id="input1" placeholder="Input 1">
        </div>
        <div class="col-sm-4">
          <label for="input2" class="col-sm-2 col-form-label">Input 2</label>
          <input type="text" class="form-control" id="input2" placeholder="Input 2">
        </div>
        <div class="col-sm-4">
          <label for="input3" class="col-sm-2 col-form-label">Input 3</label>
          <input type="text" class="form-control" id="input3" placeholder="Input 3">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4">
          <label for="input1" class="col-sm-2 col-form-label">Input 1</label>
          <input type="text" class="form-control" id="input1" placeholder="Input 1">
        </div>
        <div class="col-sm-4">
          <label for="input2" class="col-sm-2 col-form-label">Input 2</label>
          <input type="text" class="form-control" id="input2" placeholder="Input 2">
        </div>
        <div class="col-sm-4">
          <label for="input3" class="col-sm-2 col-form-label">Input 3</label>
          <input type="text" class="form-control" id="input3" placeholder="Input 3">
        </div>
    </div> -->
