<div class="p-2">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Número</th>
            <th scope="col">Factura</th>
            <th scope="col">Total</th>
            <th scope="col">Empresa</th>
            <th scope="col">Comentario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>FA-001</td>
            <td>$100</td>
            <td>Empresa A</td>
            <td>Comentario 1</td>
          </tr>
          <tr>
            <td>2</td>
            <td>FA-002</td>
            <td>$200</td>
            <td>Empresa B</td>
            <td>Comentario 2</td>
          </tr>
          <tr>
            <td>3</td>
            <td>FA-003</td>
            <td>$150</td>
            <td>Empresa C</td>
            <td>Comentario 3</td>
          </tr>
        </tbody>
      </table>    
</div>